.title-form {
  color: #ef233c;
  font-size: 40px;
  font-style: italic;
  text-transform: capitalize;

}

/* .encierra {
    
} */
.borrar {
    text-decoration: none;
}


.detalles-home {
    text-decoration: none;
}

.botonformu {
    display: block;
    right: 150px;
    font-size: 20px;
    background-color: #cfbaf0;
    border-radius: 5px;
    width: 30%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
 

.llenar {
    text-align: center;
}


.name-form {
    font-size: 15px;
    color: #fbf8cc;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 3px;
}



.hp-form {
    font-size: 15px;
    color: #fbf8cc;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 3px;
}


.att-form {
    font-size: 15px;
    color: #fbf8cc;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 3px;
}


.def-form {
    font-size: 15px;
    color: #fbf8cc;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 3px;
}


.spe-form {
    font-size: 15px;
    color: #fbf8cc;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 3px;
}


.hei-form {
    font-size: 15px;
    color: #fbf8cc;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 3px;
}


.wei-form {
    font-size: 15px;
    color: #fbf8cc;
    text-transform: capitalize;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 3px;
}

.type-form {
    display: flex;
    font-size: 15px;
    color: #fbf8cc;
    text-transform: capitalize;
    width: 500px;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
   
} 

.img-form {
   
    font-size: 15px;
    color: #fbf8cc;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 3px;
}



.btn-form {
    font-size: 18px;
    background-color: #ff6d00;
    border-radius: 12px;
    width: 100px;
}