.title-form {
  color: #ef233c;
  font-size: 40px;
  font-style: italic;
  text-transform: capitalize;
}

/* .encierra {
    
} */
.borrar {
  text-decoration: none;
}

.detalles-home {
  text-decoration: none;
}

.botonformu {
  display: block;
  right: 150px;
  font-size: 20px;
  background-color: #cfbaf0;
  border-radius: 5px;
  width: 30%;
}

.form-container {
  display: grid;
  grid-template-row: repeat(2, 1fr);
}

.llenar {
  text-align: center;
}

.input-buscar {
  flex: 1;
  padding: 10px;
  border-radius: 1rem;
  color: rgb(248, 100, 46);
  margin: 0;

  border: 1px solid #e5e5e5;
}

.campo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  flex: 0 0 100px;
  text-align: left;
}

.chekes {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.type-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.checkbox-types {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}

.boton-mandar {
  font-size: 18px;
  background-color: #ff6d00;
  border-radius: 12px;
  width: 100px;
  /* display: block; */
  margin-top: 330px;
  margin: 0 auto;
}
