* {
    box-sizing: border-box;
}
.loader-fader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    
}

.loader-container {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    margin: 20px;
}

.loader-container .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: solid 8px transparent;
    border-top-color: #ff006e;
    border-left-color: #ff006e;
    border-radius: 50%;
    animation: loader 1.2s linear infinite;
}

.loader-container .loadertwo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    border: solid 8px transparent;
    border-top-color: #118ab2;
    border-left-color: #118ab2;
    border-radius: 50%;
    animation: loadertwo 1.6s linear infinite;
}

.loader-container .loaderthree {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 40%;
    border: solid 8px transparent;
    border-top-color: #ffb703;
    border-left-color: #ffb703;
    border-radius: 50%;
    animation: loadertwo 1.4s linear infinite;
   
}

@keyframes loader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes loadertwo {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.card{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;


}

.detalles-home {
    text-decoration: none;
}

.button-pagination {
    font-size: 18px;
    background-color: #ffd23f;
    border-radius: 12px;
    width: 100px;
    margin: 5px;
}

.button-pagination:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}