body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image : url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpapersden.com%2Fimage%2Fdownload%2Fghost-pokemon_bGVlbWWUmZqaraWkpJRobWllrWdma2U.jpg&f=1&nofb=1");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}


  
.logo {
    width: 400px;
    height: 200px;
    background-position: center;
    justify-content: center;
    margin-bottom: 0px;
}

.container-pokeball {
    width: 25em;
    height: 25em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
}

.pokeball {
    background: linear-gradient(0deg,
    #fff 0%,
    #fff 50%,
    #fb0d3e 50%,
    #fb0d3e 100%);
    width: 96.5%;
    height: 96.5%;
    border-radius: 50%;
    border: 7px #111 solid;
    position: relative;
}

.pokeball::before, .btn-pokeball, .btn-pokeball::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokeball::before {
    content: '';
    width: 24.3em;
    background: #111;
    height: 6em;
    border-radius: 35px;
    
}

.pokeball::after {
    content: '';
    background: #fff;
    position: absolute;
    top: 3em;
    left: 2em;
    width: 7em;
    height: 3em;
    border-radius: 50%;
    transform: rotate(-45deg);
}

.btn-pokeball {
  background: #fff;
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
  border: 15px solid #111;
  transition: .5s;
}

.btn-pokeball:hover {
    border:7 px;
    background: #fb0d3e;
    border-color: #ffea00;
 
}

.btn-pokeball::before {
    content: '';
    width: 5em;
    height: 5em;
    border: 5px #111 solid;
    border-radius: 50%;
}
